<div class="contact-form-container">
    <div class="form-group">
        <input type="text" class="contact-input" id="contact-name" name="name" placeholder="Введите ФИО" required>
        <div class="error-message" id="name-error">Поле является обязательным</div>
        <input type="tel" class="contact-input" id="contact-phone" name="phone" placeholder="Введите номер" required>
        <div class="error-message" id="phone-error">Поле является обязательным</div>
        <custom-dropdown id="contact-group-dropdown"></custom-dropdown>
        <div class="error-message" id="dropdown-error">Поле является обязательным</div>
    </div>
    <div class="form-actions">
        <button type="submit" class="save-button">Сохранить</button>
    </div>
</div>