.toast-notifications-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    pointer-events: none;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    padding-left: 20px;
    width: auto;
}

.toast-notifications-container > toast-item {
    pointer-events: auto;
}