@use '../../styles/variables.scss' as *;

.main {
  padding: 2rem;
  background: $background;
  min-height: 80vh;

  .empty {
    text-align: center;
    color: $text-muted;
    margin-top: 3rem;
    font-size: 1.1rem;
  }

  @media (max-width: $max-mobile-width) {
    padding: 1rem;

    .empty {
      font-size: 1rem;
    }
  }
}